body {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/building.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
    min-height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: black;
}

.content {
    width: 25%;
    text-align: justify;
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .content {
        width: 30%;
    }
}

@media (max-width: 810px) {
    .container {
        width: 93%;
    }

    .content {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 85%;
    }

    .content {
        width: 55%;
    }
}

@media (max-width: 450px) {
    .container {
        align-items: center;
    }

    .content {
        width: 100%;
    }
}

h1 {
    text-align: center;
    margin: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.links {
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
}

