body {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/building.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 75%;
    min-height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: black;
}

.content {
    min-width: 240px;
    width: 20%;
    text-align: justify;
}

h1 {
    text-align: center;
    margin: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.links {
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
}
